/* Font Face for Lao */

@font-face {
  font-family: "Noto Sans Lao";
  font-weight: 100;
  font-style: normal;
  src: url(~@/assets/fonts/NotoSansLao-Thin.woff2) local("Noto Sans Lao") local("NotoSansLao-Thin")
}
@font-face {
  font-family: "Noto Sans Lao";
  font-weight: 300;
  font-style: normal;
  src: url(~@/assets/fonts/NotoSansLao-Light.woff2) local("Noto Sans Lao") local("NotoSansLao-Light")
}
@font-face {
  font-family: "Noto Sans Lao";
  font-weight: 400;
  font-style: normal;
  src: url(~@/assets/fonts/NotoSansLao-Regular.woff2), local("Noto Sans Lao"), local("NotoSansLao-Regular")
}
@font-face {
  font-family: "Noto Sans Lao";
  font-weight: 500;
  font-style: normal;
  src: url(~@/assets/fonts/NotoSansLao-Medium.woff2), local("Noto Sans Lao"), local("NotoSansLao-Medium")
}
@font-face {
  font-family: "Noto Sans Lao";
  font-weight: 700;
  font-style: normal;
  src: url(~@/assets/fonts/NotoSansLao-Bold.woff2), local("Noto Sans Lao"), local("NotoSansLao-Bold")
}
@font-face {
  font-family: "Noto Sans Lao";
  font-weight: 900;
  font-style: normal;
  src: url(~@/assets/fonts/NotoSansLao-Black.woff2), local("Noto Sans Lao"), local("NotoSansLao-Black")
}

/* Gobal */

$body-font-family: "Roboto", "Noto Sans Lao", san-serif !default;
